<ion-header>
  <ion-toolbar>
    <ion-title id=registrate>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="item">
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Apellido</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">e-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button  expand="block" color="success" href="inicio">
      Registrar Chef
  </ion-button>
</ion-content>
