.imgstyle{width: 50%;
margin-left: 25%;
border-style:ridge;
}


.subtitulo{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 5%;
    color: rgba(0, 0, 0, 0.637);
}
.titulo{
    text-align: center;
    font-family:fantasy;
    text-decoration: underline;
    color: black;
}
.Tit{
    font-size: 40px;
    font-family:monospace;
    text-decoration: underline rgb(93, 156, 93);

}
.card{
    background-color: white;
    border-style: outset;
}
