<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="Tit">Gusteau</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
  <ion-card *ngFor="let recetacard of recetacard; let i=index">
    <ion-img src="{{traenombre[i].Foto}}" alt="" id="" *ngIf="traenombre != undefined"></ion-img>
    <ion-card-header >
      <ion-card-title  *ngIf="traenombre != undefined " class="titulo">  {{traenombre[i].Nombre}}  </ion-card-title>
    </ion-card-header>

    <ion-card-content  *ngIf="traenombre != undefined " class="subtitulo">
      {{traenombre[i].Descripcion}} 
     </ion-card-content>
  </ion-card>
</div>
</ion-content>


