<ion-header>
  <ion-toolbar>
    <ion-title class="Tit">Gusteau</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-card class="card">
  <ion-card-header>
    <ion-img [src]="img" class="imgstyle"></ion-img>
    <ion-card-title class="titulo">Salsa</ion-card-title>
    <ion-card-subtitle class="subtitulo">Salsa Bolognese</ion-card-subtitle>
  </ion-card-header>
  <ion-button expand="block" color="success" href=recetas>
    <ion-icon slot="start" name="restaurant-outline" color="dark"></ion-icon>
  Ver receta
  </ion-button>
</ion-card>
<ion-card class="card">
  <ion-card-header>
    <ion-img [src]="img2" class="imgstyle"></ion-img>
    <ion-card-title class="titulo">Carne</ion-card-title>
    <ion-card-subtitle class="subtitulo">Ojo de bife asado con esparragos</ion-card-subtitle>
  </ion-card-header>
  <ion-button expand="block" color="success" href=receta1>
    <ion-icon slot="start" name="restaurant-outline" color="dark"></ion-icon>
  Ver receta
  </ion-button>
</ion-card>
<ion-card class="card">
  <ion-card-header>
    <ion-img [src]="img3" class="imgstyle"></ion-img>
    <ion-card-title class="titulo">Milanesa</ion-card-title>
    <ion-card-subtitle class="subtitulo">Milanesa de peceto con papas fritas</ion-card-subtitle>
  </ion-card-header>
  <ion-button expand="block" color="success" href=receta2>
    <ion-icon slot="start" name="restaurant-outline" color="dark"></ion-icon>
  Ver receta
  </ion-button>
</ion-card>
</ion-content>

