<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.lavoz.com.ar%2Fresizer%2FNviy67WFi3TlR-LzvlTK2rW7M2M%3D%2F1023x682%2Fsmart%2Fcloudfront-us-east-1.images.arcpublishing.com%2Fgrupoclarin%2FL6MNDWFDWJA3HIMYSUTM6OKHWI.jpg&imgrefurl=https%3A%2F%2Fwww.lavoz.com.ar%2Fdeportes%2Ffutbol%2Fcon-un-julian-alvarez-afilado-river-le-gano-el-clasico-a-boca-y-se-trepo-a-la-punta%2F&tbnid=SDhLVl1uSFkXWM&vet=12ahUKEwiitdDwrbHzAhVrspUCHeCSBlkQMygBegUIARDWAQ..i&docid=8rGz2PDkQGvw5M&w=1023&h=682&itg=1&q=julian%20alvarez&ved=2ahUKEwiitdDwrbHzAhVrspUCHeCSBlkQMygBegUIARDWAQ.src"></ion-img>
</ion-content>
