<ion-header>
  <ion-toolbar id="tool">
    <ion-title id="inicio">Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item id="item">
    <ion-label position="fixed">e-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="block"  color="success" href="home">log-in</ion-button>

  <ion-button expand="block" color="success" href="registrate">¿Sos nuevo? Registrate</ion-button>


</ion-content>
